<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DAMAI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/675fd5b762.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="wrapper">
      <div class="mt-5 menudetailpage-wrapper">
        <div class="menudetailpage-title">
          <h3 class="pt-5 mt-5">WEBポイントカード</h3>
          <hr color="#5f5d60">
        </div>
        <div class="py-5 menudetail-wrapper">
          <div class="menudetail-container">
            <img src="/images/about-img.svg">
            <div class="mr-4 menudetail-topcontents">
              <div class="mb-4 menudetail-toptitle">
                <h3>WEBポイントカードでお得に便利に</h3>
              </div>
              <div class="menudetail-toptxt">
                <p>DamaiではWEBポイントカードを使用しております。とてもお得で便利ですので、ぜひご登録ください。</p>
                <h5><span class="fa fa-gift mr-1"></span>ポイントが自動的にたまる</h5>
                <p>カードを作成いただくとご来店後、自動的にポイントがたまるため<br>
                  「うっかりカードを忘れてきちゃった」「せっかくポイントためてたのにカードをなくしちゃった」<br>
                   なんてこともなく、大変ご好評いただいております。
                </p>
                <h5><span class="fa fa-gift mr-1"></span>たまったポイントは商品やメニューと交換可能</h5>
                <p>たまったポイントはお好きな施術メニューや当店オリジナル商品と交換できます。<br>
                   オリジナル商品には当店で人気のボディスクラブやツルツル肌に仕上げる美容液など、
                   魅力的な商品を多数ラインナップしております。
                </p>
                <h5><span class="fa fa-gift mr-1"></span>ブログの会員限定記事が読める</h5>
                <p>会員の方は美容のお役立ち情報など配信しているブログ限定記事もお読みいただけます。<br>
                   限定記事では専門家ならではのエステ知識やおすすめの美容機器など、ここでしか分からない
                   お役立ち情報が満載です。
                </p>
                <h5><span class="fa fa-gift mr-1"></span>登録は20秒で完了</h5>
                <p>登録方法はとても簡単です。会員登録ページより「お名前」「メールアドレス」「パスワード」の
                   3点を入力いただければ完了します。
                </p>
                <p>
                  ポイント状況はログイン後“Mｙページ”よりご確認いただけます。100円につき1ポイントたまりますので
                  ぜひポイントをためてお好きな商品やメニューをお得にゲットしましょう。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="menudetail-wrapper">
          <div class="menudetailpage-title">
            <h3 class="pt-4 mt-5">ポイント交換表</h3>
            <hr color="#5f5d60">
          </div>
          <div class="py-5 menutable-contents">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td style="width: 20%" class="text-center t-head">ポイント</td>
                  <td style="width: 40%" class="text-center t-head">交換可能メニュー</td>
                  <td style="width: 40%" class="text-center t-head">交換可能商品</td>
                </tr>
                <tr>
                  <td style="width: 20%" class="table-menu">200ポイント</td>
                  <td style="width: 40%" class="table-minute">施術時間10分の全メニューからお一つ</td>
                  <td style="width: 40%" class="table-fee">Damaiオリジナル化粧水もしくは乳液</td>
                </tr>
                <tr>
                  <td style="width: 20%" class="table-menu">400ポイント</td>
                  <td style="width: 40%" class="table-minute">施術時間20分の全メニューからお一つ</td>
                  <td style="width: 40%" class="table-fee">Damaiオリジナルシャンプー、コンディショナーセット</td>
                </tr>
                <tr>
                  <td style="width: 20%" class="table-menu">600ポイント</td>
                  <td style="width: 40%" class="table-minute">施術時間30分の全メニューからお一つ</td>
                  <td style="width: 40%" class="table-fee">Damaiオリジナル美容液、ヘアパックセット</td>
                </tr>
                <tr>
                  <td style="width: 20%" class="table-menu">800ポイント</td>
                  <td style="width: 40%" class="table-minute">施術時間40分の全メニューからお一つ</td>
                  <td style="width: 40%" class="table-fee">Damaiボディスクラブ、ボディクリームセット</td>
                </tr>
                <tr>
                  <td style="width: 20%" class="table-menu">1000ポイント</td>
                  <td style="width: 40%" class="table-minute">施術時間50分の全メニューからお一つ</td>
                  <td style="width: 40%" class="table-fee">Damaiデイケア贅沢セット</td>
                </tr>
                <tr>
                  <td style="width: 20%" class="table-menu">2000ポイント</td>
                  <td style="width: 40%" class="table-minute">お好きな施術メニューどれでもお二つ</td>
                  <td style="width: 40%" class="table-fee">Damaiスペシャルセット</td>
                </tr>
              </tbody>
            </table>
            <div class="my-5 btn-wrapper">
              <a href="/signup" class="signup-btn btn">WEBポインカード作成はこちら</a>
            </div>
          </div>
        </div>
        
      </div>
      <p id="pageTop"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
    </div>
    <%- include('footer'); %>
    <script>
      $(function() {
        var delaySpeed = 700; 
        var fadeSpeed = 500;
        $(window).on('load', function() {
          $('li').each(function(i){
            $(this).delay(i*(delaySpeed)).animate({
              'opacity' : '1'
            },fadeSpeed);
          });
        });
        var topBtn=$('#pageTop');
        topBtn.hide();
        $(window).scroll(function(){
          if($(this).scrollTop() > 80){
            topBtn.fadeIn();
          }else{
            topBtn.fadeOut();
          }
        });
        topBtn.click(function(){
          $('body, html').animate({
          scrollTop: 0}, 500);
          return false;
        });
      });
    </script>  
  </body>
</html>