<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DAMAI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/675fd5b762.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="wrapper">
      <div class="mt-5 menudetailpage-wrapper">
        <div class="menudetailpage-title">
          <h3 class="pt-5 mt-5">ブライダルメニュー</h3>
          <hr color="#5f5d60">
        </div>
        <div class="py-5 menudetail-wrapper">
          <div class="menudetail-container">
            <img src="/images/menu-topimg3.png">
            <div class="mr-3 menudetail-topcontents">
              <div class="mb-4 menudetail-toptitle">
                <h3>一生に一度の舞台を</h3>
                <h3>最高の日に</h3>
              </div>
              <div class="menudetail-toptxt">
                <h2>
                  式までにスリムになりたい、一番きれいな姿で晴れ舞台に立ちたい…多くの花嫁様はそんな決意を抱くのではないでしょうか。
                </h2>
                <h2>
                  一生に一度となる特別な日のために、お客様のご希望に合わせた万全のケアをご用意いたします。直前になんとかしたいという
                  駆け込み相談も受け付けております。
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="menudetail-wrapper">
          <div class="menudetailpage-title">
            <h3 class="pt-4 mt-5">Damaiブライダルメニューの特徴</h3>
            <hr color="#5f5d60">
          </div>
          <div class="py-4 menudetail-container">
            <img src="/images/menudetail-img3.png">
            <ul class="mr-4">
              <li class="pb-2"><span class="fa fa-envira mr-1"></span>計画的なケアで挙式までに理想のボディライン、フェイスラインに近づけます。</li>
              <li class="pb-2"><span class="fa fa-envira mr-1"></span>「美白」「保湿」「小顔」などお悩みに合わせた集中ケアができます。</li>
              <li class="pb-2"><span class="fa fa-envira mr-1"></span>挙式当日が最高のコンディションになるようなアフターケア方法もお伝えします。</li>
            </ul>
          </div>
        </div>
        <div class="menudetail-wrapper">
          <div class="menudetailpage-title">
            <h3 class="pt-4 mt-5">ブライダルメニュー施術の流れ</h3>
            <hr color="#5f5d60">
          </div>
          <div class="py-4 menuflow-wrapper">
            <ul>
              <li>お客様のお肌の状態・生活環境などのカウンセリング</li>
              <li><span class="fa fa-chevron-down"></span></li>
              <li>お体を温めるフットバス(フェイシャルのみの場合は無し)</li>
              <li><span class="fa fa-chevron-down"></span></li>
              <li>ブライダルトリートメント</li>
              <li><span class="fa fa-chevron-down"></span></li>
              <li>有効成分浸透、保湿のためのパック</li>
              <li><span class="fa fa-chevron-down"></span></li>
              <li>お仕上げ</li>
              <li><span class="fa fa-chevron-down"></span></li>
              <li>今後のケアについてなどのアフターカウンセリング</li>
            </ul>
          </div>
        </div>
        <div class="mb-0 menudetail-wrapper">
          <div class="menudetailpage-title">
            <h3 class="pt-4 mt-5">料金表</h3>
            <hr color="#5f5d60">
          </div>
          <div class="py-5 menutable-contents">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td style="width: 50%" class="table-menu">ブライダルエステ(ボディ)</td>
                  <td style="width: 25%" class="table-minute">○○分</td>
                  <td style="width: 25%" class="table-fee">○○○円</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="table-menu">ブライダルエステ(フェイシャル)</td>
                  <td style="width: 25%" class="table-minute">○○分</td>
                  <td style="width: 25%" class="table-fee">○○○円</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="table-menu">美白 + 保湿重点ケア</td>
                  <td style="width: 25%" class="table-minute">○○分</td>
                  <td style="width: 25%" class="table-fee">○○○円</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="table-menu">小顔 + リフトアップ重点ケア</td>
                  <td style="width: 25%" class="table-minute">○○分</td>
                  <td style="width: 25%" class="table-fee">○○○円</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="table-menu">1DAYブライダルエステ</td>
                  <td style="width: 25%" class="table-minute">○○分</td>
                  <td style="width: 25%" class="table-fee">○○○円</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="table-menu">ブライダルおまかせケア</td>
                  <td style="width: 25%" class="table-minute">○○分</td>
                  <td style="width: 25%" class="table-fee">○○○円</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="menudetail-wrapper">
          <div class="menudetailpage-title">
            <h3 class="pt-4 mt-5">他のメニューも見る</h3>
            <hr color="#5f5d60">
          </div>
          <div class="mx-5 py-5 others">
            <div class="menu-icon">
              <a href="/body"><img src="/images/menu-icon1.png"></a>
            </div>
            <div class="menu-icon">
              <a href="/facial"><img src="/images/menu-icon2.png"></a>
            </div>
            <div class="menu-icon">
              <a href="/maternity"><img src="/images/menu-icon4.png"></a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <p id="pageTop"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
    </div>
    <%- include('footer'); %>
    <script>
      $(function() {
        var delaySpeed = 700; 
        var fadeSpeed = 500;
        $(window).on('load', function() {
          $('li').each(function(i){
            $(this).delay(i*(delaySpeed)).animate({
              'opacity' : '1'
            },fadeSpeed);
          });
        });
        var topBtn=$('#pageTop');
        topBtn.hide();
        $(window).scroll(function(){
          if($(this).scrollTop() > 80){
            topBtn.fadeIn();
          }else{
            topBtn.fadeOut();
          }
        });
        topBtn.click(function(){
          $('body, html').animate({
          scrollTop: 0}, 500);
          return false;
        });
      });
    </script>  
  </body>
</html>