<footer>
　<div class="footer-txt">
    <p class="pull-left mr-5">お知らせ</p>
    <p class="pull-left mr-5">よくあるご質問</p>
    <p class="pull-left mr-5">サイトマップ</p>   
    <p class="pull-left mr-5">お問い合わせ</p>
    <p>※このエステサロンは実在しません。</p>
　</div>
</footer>