<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DAMAI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="list-wrapper">
      <div class="mt-5 signin-wrapper">
        <div class="sign">
            <div class="container">
              <div class="panel">
                <h1>ログイン</h1>
                <% if (errors.length > 0) { %>
                  <ul class="errors">
                    <% errors.forEach(error => { %>
                      <li><%= error %></li>
                    <% }); %>
                  </ul>
                <% } %>
                <form action="/login" method="post">
                  <p>メールアドレス</p>
                  <input type="text" name="email">
                  <p>パスワード</p>
                  <input type="password" name="password">
                  <input type="submit" value="ログイン">
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    <%- include('footer'); %> 
  </body>
</html>